html, body {
    background: #fefefa;
}

#TableOfContents {
    ul li,
    ul ul li,
    ul ul ul li,
    ul ul ul ul li,
    ul ul ul ul ul li,
    ul ul ul ul ul ul li
    { padding-left: .8em; }

    a { color: gray; }
    a:hover { color: maroon; text-decoration: underline; }
}

#content {
    padding: 48px 64px;
}

.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
