html, body {
    background: #f9f9f9;
}

#TableOfContents {
    ul li,
    ul ul li,
    ul ul ul li,
    ul ul ul ul li,
    ul ul ul ul ul li,
    ul ul ul ul ul ul li
    { padding-left: 1em; }
}

#content {
    padding: 48px 64px;
}

.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
